#frontpage{
  page-break-before: always;
  page-break-after: always;
  width: 8.5in;
  height: 11in;
}
#backpage{
  page-break-before: always;
  page-break-after: always;
  width: 8.5in;
  height: 11in;
}

/** Header **/
.header_row1{
  display: flex;
  margin-top: 0.1in;
}
.header_col1{
  width: 25%;
  text-align: left;
  position: relative;
}
.header_col2{
  width: 50%;
  text-align: center;
  position: relative;
}
.header_col3{
  width: 25%;
  text-align: right;
  position: relative;
}


/** Col1 **/
.header_col1 .group{
  position: absolute;
  left: 0;
  bottom: 0;
}
.header_col1_row1{
  display: flex;
}
.header_col1_row1 .ref_input{
  width: 0.4in;
  height: 0.3in;
}
.header_col1_row1 .ref_input input[type=checkbox]{
  border: 1px solid black;
}

.header_col1_row1 table{
  empty-cells: show;
  border-spacing: 0;
  margin-left: 0.1in;
}
.header_col1_row1 table td{
  border: 1px solid black;
  text-align: center;
}
.header_col1_row1 table td input{
  width: 0.2in;
  height: 0.1in;
}
.header_col1_row2{
  margin-top: 0.1in;
}
.header_col1_row2 label{
  margin-right: 0.1in;
}

/** Col2 **/
.header_col2 input{
  margin-left: 0.3in;
}
.header_col2 textarea{
  margin-top: 0.1in;
}

/** col3 **/
.header_col3 .group{
  position: absolute;
  right: 0;
  bottom: 0;
}
.header_col3 input{
  border: 0;
  border-bottom: 1px solid black;
  margin-top: 5px;
  text-align: center;
}
.header_col3 #dob_input{
  width: 0.7in;
}
.header_col3 #apt_time_input{
  width: 1.1in;
}

/** Row2 **/
.header_row2{
  border: 1px solid black;
  text-align: center;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/** End of Header **/

/** Body **/

#body_cols{
  display: flex;
  justify-content: space-between;
}

#body_cols #body_col1 #body_col1_row2{
  margin-top: 0.5in;
}

#body_cols #body_col1 #body_col1_row2 table{
  empty-cells: show;
}
#body_cols #body_col1 #body_col1_row2 table td{
  border: 1px solid black;
  width: 0.7in;
  height: 0.2in;
}

#body table td{
  padding: 0 0.1in 1px 0;
}

#body table{
  border-spacing: 0;
}
#body .category_tr{
  text-decoration: underline;
  font-weight: bold;
}

#body .service_and_icd_tr{
  cursor: pointer;
}

/** End of Body **/

/** Footer **/

#footer{
  display: flex;
  margin-top: 10px;
}

#footer .clickable{
  cursor: pointer;
}

#footer #footer_col1{
  text-align: left;
  position: relative;
  width: 25%;
}
#footer #footer_col2{
  position: relative;
  width: 55%;
}
#footer #footer_col3{
  position: relative;
  text-align: right;
  width: 20%;
}

#footer #footer_col1 #auth_input{
  width: 1in;
  border: 0;
  border-bottom: 1px solid black;
}

#footer #footer_col1 #ppo_input, #footer #footer_col1 #hmo_input{
  width: 0.1in;
  border: 0;
  border-bottom: 1px solid black;
}

#footer #footer_col2 #next_visit_estimate_date_input{
  display: flex;
}

#footer #footer_col2 #next_visit_estimate_date_input input{
  width: 0.1in;
  border: 0;
  border-bottom: 1px solid black;
}

#footer #footer_col2 .margin_right_little{
  margin-right: 0.2in;
}

#footer #footer_col2 #next_visit_auth_input{
  margin-bottom: 5px;
}

#footer #footer_col2 #next_visit_auth_input input{
  width: 1.5in;
  border: 0;
  border-bottom: 1px solid black;
}

#footer #footer_col2 #next_visit_misc_input input{
  margin-left: 0.1in;
}

#footer #footer_col3 .group{
  position: absolute;
  right: 25px;
  // bottom: 0;
}

#footer #footer_col3 input[type="text"]{
  width: 0.5in;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

/** End of Footer **/

/** Backpage **/

#backpage .title{
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5rem;
}
#backpage div{
  margin-bottom: 10px;
}

#backpage input[type=text]{
  width: 1in;
  border: 0;
  border-bottom: 1px solid black;
}

#backpage  input[type=checkbox]{
  margin-right: 10px;
}

#backpage #backpage_erx{
  display: flex;
}
#backpage #backpage_erx_extra{
  margin-left: 20px;
}
#backpage #backpage_erx_extra input[type=checkbox]{
  margin-right: 2px;
}
#backpage #backpage_dfe{
  display: flex;
}
#backpage #backpage_dfe_extra{
  margin-left: 20px;
}
#backpage #backpage_dfe_extra input[type=checkbox]{
  margin-right: 2px;
}
#backpage textarea{
  margin-top: 20px;
}

/** End of Backpage **/